@model FIARCap.Models.Book

@{
    ViewBag.Title = "Details";
}
<div style="width:70%; float:left;margin-bottom:30px;">
    <h2>Book Details</h2>
    <h3 class="orangeBtn">
        @if (User.IsInRole("Site Admin") || User.IsInRole("Book Admin"))
        {
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) <br />
        }
</h3>
        <div>

            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.ISBN)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ISBN)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Title)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Title)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Author)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Author)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Illustrator)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Illustrator)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Copyright)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Copyright)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Category)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Category)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Summary)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Summary)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Topics)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Topics)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ImagePath)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ImagePath)
                </dd>
            </dl>
        </div>
        <h3 class=" orangeBtn">@Html.ActionLink("Add a Review", "UserCreate", "Reviews", new { bookID = Model.Id }, null)</h3>


        <h3>@Html.ActionLink("Back to List", "Index")</h3>

</div>

    <img src="~/Media/@Model.ImagePath" alt="Image" style="float:left;margin-top:75px; max-height:250px;" />
