@model IEnumerable<FIARCap.Models.Book>

@{
    ViewBag.Title = "ListBooks";
}

<h2>List of Books</h2>

<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Title, "Details", new { id = item.Id }) <br />
                @Html.DisplayFor(modelItem => item.Author) <br />
                @Html.DisplayFor(modelItem => item.Summary) <br />
                @Html.ActionLink("Reviews", "ListOfReviewsByBook", "Reviews", new { id = item.Id }, null)<br />
                @Html.ActionLink("Add a Review", "UserCreate", "Reviews", new { bookID = item.Id }, null)
            </td>
        </tr>
    }
</table>

